/* Reset */
body, h1, h2, h3, ul, li, a, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, button, option {
  font-family: 'Nunito', sans-serif;
}

/*--------------------------------------------------------------
Font Sizing
--------------------------------------------------------------*/
header {
  font-size: 12px;
}

footer {
  font-size: 10px;
}

/*--------------------------------------------------------------
Form Styles
--------------------------------------------------------------*/
/* form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  min-width: 360px;
  padding: 24px 36px;
  background-color: hsl(211, 25%, 90%);
}

label {
  position: relative;
  top: 4px;
}

button {
    padding: 8px;
} */

/*--------------------------------------------------------------
Colour Swatches
--------------------------------------------------------------*/
.colour-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "name"
  "swatches";
  padding-top: 24px;
}

.colour-group-colour-swatches {
  grid-area: swatches;
  display: flex;
  flex-direction: row;
}

.colour-group-colour-swatch{
  width: 50px;
  height: 50px;
}

.colour-group-colour-swatch {
  cursor: pointer;
}