:root {
  --colour-text: hsl(208, 90%, 33%);
  --colour-text-light: hsl(208, 90%, 88%);

  --colour-pl1: hsl(208, 90%, 100%);
  --colour-pl2: hsl(208, 90%, 98%);
  --colour-pl3: hsl(208, 90%, 88%);
  --colour-pl4: hsl(208, 80%, 83%);
  --colour-pl5: hsl(208, 90%, 73%);
  --colour-pd1: hsl(208, 90%, 64%);
  --colour-pd2: hsl(208, 75%, 50%);
  --colour-pd3: hsl(208, 90%, 33%);
  --colour-pd4: hsl(208, 90%, 20%);
  --colour-pd5: hsl(209, 93%, 15%);

  --colour-al1: hsl(355, 100%, 100%);
  --colour-al2: hsl(355, 100%, 99%);
  --colour-al3: hsl(355, 100%, 98%);
  --colour-al4: hsl(355, 100%, 95%);
  --colour-al5: hsl(355, 100%, 92%);
}

/*--------------------------------------------------------------
Styles
--------------------------------------------------------------*/
