.colour-swatch{
    width: 50px;
    height: 50px;
}

.new-colour-group {
    border: 2px solid black;
    min-height: 100px;
}

.colour-swatches {
    display: flex;
    flex-direction: row;
}

.new-colour-form {
    display: flex;
    flex-direction: row;
}
