.new-colour-palette-page .colour-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "name"
    "swatches";
    padding-top: 24px;
}

.new-colour-palette-page .colour-group-colour-swatches {
    grid-area: swatches;
    display: flex;
    flex-direction: row;
}

.new-colour-palette-page .colour-group-colour-swatch{
    width: 50px;
    height: 50px;
}

.colour-group-colour-swatch {
    cursor: pointer;
}